.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #acadaf;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}

.clear {
    width: 90%;
    height: 80%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 2rem min-content;
    align-items: center;
    gap: 1rem;
}

.clear h1 {
    color: red;
}

.clear svg {
    fill: red;
}

.clear:hover {
    opacity: 0.6;
}

.load-example {
    width: 90%;
    height: 80%;
    background-color: #dddee2;
    border-radius: 1rem;
    display: grid;
    justify-items: center;
    align-content: center;
}

.load-example:hover {
    opacity: 0.6;
}

h1 {
    font-size: 1rem;
}