.personal {
    justify-self: end;
    width: 80%;
    background-color: white;
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content;
    grid-auto-flow: row;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #acadaf;
}

.top {
    display: grid;
    grid-template-columns: 85% 2.5rem;
    user-select: none;
}

.top svg {
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    gap: 0rem;
}

.label {
    font-size: 1.1rem;
    font-weight: 500;
    user-select: none;
}

#inp {
    background-color: #F3F4F6;
    border: none;
    font-size: 1rem;
    width: 80%;
    outline: hidden;
    transition: outline 0.15s ease-in;
    border-radius: 0.5rem;
    padding: 0.5em 0em;
    padding-left: 0.3rem;
}

#inp::selection, #inp::-moz-selection {
    outline: auto;
}