.personal {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.personal h1 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    user-select: none;
}

.personal h3 {
    padding-left: 0.5rem;
    user-select: none;

}

.personal input {
    width: 80%;
    background-color: #F3F4F6;
    border: none;
    height: 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #acadaf;
    padding-left: 1rem;
}

.personal-top {
    display: grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    justify-content: space-between;
}

.personal-top svg {
    cursor: pointer;
}

