.personal {
    justify-self: end;
    width: 80%;
    background-color: white;
    display: grid;
    gap: 1rem;
    grid-template-rows: min-content;
    grid-auto-flow: row;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #acadaf;
}

.top {
    display: grid;
    grid-template-columns: 85% 2.5rem;
    user-select: none;
}

.top svg {
    cursor: pointer;
    transform: all 0.25s;
}

.row {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    gap: 0rem;
}

.label {
    font-size: 1.1rem;
    font-weight: 500;
    user-select: none;
}

#inp {
    background-color: #F3F4F6;
    border: none;
    font-size: 1rem;
    width: 80%;
    outline: hidden;
    transition: outline 0.5s ease-in-out;
    border-radius: 0.5rem;
    padding: 0.5em 0em;
    padding-left: 0.3rem;
}

#inp::selection, #inp::-moz-selection {
    outline: auto;
}

.closed {
    transform: rotate(180deg);
}

/* EDUCATION */
.add-education-cont {
    width: 80%;
    display: grid;
    justify-items: center;
    align-content: center;
    margin-top: 1rem;
}

#add-education {
    border: 5px solid #F3F4F6;
    border-radius: 2rem;
    padding: 1em 2em;
    background-color: white;
    cursor: pointer;
}

#add-education:hover {
    background-color: #F3F4F6;
}

form {
    display: grid;
    gap: 1rem;
}

.half-row {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    width: 80%;
}

#half-inp {
    background-color: #F3F4F6;
    border: none;
    font-size: 1rem;
    width: 100%;
    outline: hidden;
    transition: outline 0.5s ease-in-out;
    border-radius: 0.5rem;
    padding: 0.5em 0em;
    padding-left: 0.3rem;
    width: 80%;
}

.start-label {
    grid-row: 1;
    grid-column: 1 / 2;
}

.end-label {
    grid-row: 1;
    grid-column: 2 / 3;
}

.buttons {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    margin-top: 1rem;
}

#delete, #cancel, #submit {
    width: 5rem;
    padding: 0.5em 1em;
    background: white;
    border: 3px solid #F3F4F6;
    border-radius: 0.5rem;
    cursor: pointer;
}

#submit {
    background-color: #177FF5;
    border: 3px solid #177FF5;
    color: white;
}

.main-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.edu-container {
    width: 80%;
    border-top: 4px solid #F3F4F6;
    border-bottom: 4px solid #F3F4F6;
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.edu-container h1 {
    font-size: 1.3rem;
    padding: 1rem 0;
    font-weight: 500;
}

