.tab {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
}

.tab h1 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    user-select: none;
}

.tab h3 {
    padding-left: 0.5rem;
    user-select: none;
    font-weight: 400;

}

.tab h2 {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    user-select: none;

}

.tab input {
    width: 80%;
    background-color: #F3F4F6;
    border: none;
    height: 1.8rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    transition: outline 0.15s ease-in;
}

.tab input::selection {
    outline: auto;
}

.tab-top {
    display: grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    justify-content: space-between;
}

.tab-top svg {
    cursor: pointer;
}

.addExp {
    width: 40%;
    background-color: #F3F4F6;
    border: none;
    height: 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #acadaf; 
    justify-self: center;  
    margin-top: 3rem;
    font-size: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.addExp:hover {
    opacity: 0.6;
}

.point {
    display: grid;
    grid-template-columns: 80% 2rem;
    gap: 2rem;
}

#point {
    width: 100%;
}

.addPoint {
    background-color: #F3F4F6;
    border: none;
    height: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 5px #acadaf; 
}

.addPoint:hover {
    opacity: 0.6;
}

.add-cont {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.experience-disp {
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    margin-top: 0px;
}

.exp-cont {
    border-top: 2px solid #acadaf;
    border-bottom: 2px solid #acadaf;
    width: 80%;
    padding: 1rem 0rem;
    justify-self: center;

}

